

<mat-toolbar fxLayout color="primary">
    <h2>Select Bus Stop</h2>
</mat-toolbar>
  
<div class="container">
    <div class="flex-container" fxLayout="row">
        <mat-form-field>
            <mat-label> Bus Stop </mat-label>
            <mat-select [(ngModel)]="selectedStop" (selectionChange)="onStopChange($event)">
                <mat-option>
                  Select Stop
                </mat-option>
                <mat-option *ngFor="let busStop of busStops" [value]="busStop.id">
                    {{ busStop.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex-container" fxLayout="row" *ngIf="busSchedule"> 
            <div  fxLayout="column">
                <mat-card class="child-1">Route 1</mat-card> 
                <mat-card class="child-2">{{ busSchedule.route1[0] }}</mat-card> 
                <mat-card class="child-3">{{ busSchedule.route1[1] }}</mat-card>
            </div>

            <div fxLayout="column">
                <mat-card class="child-1">Route 2</mat-card> 
                <mat-card class="child-2">{{ busSchedule.route2[0] }}</mat-card> 
                <mat-card class="child-3">{{ busSchedule.route2[1] }}</mat-card>
            </div>

            <div fxLayout="column">
                <mat-card class="child-1">Route 3</mat-card> 
                <mat-card class="child-2">{{ busSchedule.route3[0] }}</mat-card> 
                <mat-card class="child-3">{{ busSchedule.route3[1] }}</mat-card>
            </div>
        </div>
    </div>
</div>
 
