
<div class="container">
  <h2>Select Bus Stop</h2>

  <mat-form-field>
      <mat-label> Bus Stop </mat-label>
      <mat-select [(ngModel)]="selectedStop" (selectionChange)="onStopChange($event)">
          <mat-option>
            Select Stop
          </mat-option>
          <mat-option *ngFor="let busStop of busStops" [value]="busStop.id">
              {{ busStop.name }}
          </mat-option>
      </mat-select>
  </mat-form-field>
  
  <table *ngIf="busSchedule">
      <thead>
          <tr>
              <th>
                  Route 1
              </th>
              <th>
                  Route 2
              </th>
              <th>
                  Route 3
              </th>
          </tr>
      </thead>
  
      <tbody>
          <tr>
              <td>
                  {{ busSchedule.route1[0] }}
              </td>
  
              <td>
                  {{ busSchedule.route2[0] }}
              </td>
  
              <td>
                  {{ busSchedule.route3[0] }}
              </td>
          </tr>
          <tr>
              <td>
                  {{ busSchedule.route1[1] }}
              </td>
  
              <td>
                  {{ busSchedule.route2[1] }}
              </td>
  
              <td>
                  {{ busSchedule.route3[1] }}
              </td>
          </tr>
      </tbody>
  </table>
</div>
 
